<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="h-96 bg-slate-300">
          <h1>Carousel</h1>
        </div>
        <div class="new-products h-96">
          <div class="flex flex-col bg-white m-auto p-auto w-full h-96">
            <h1 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
              New and Worthy of Chris's Love
            </h1>
            <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
              <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
                <div class="product-card flex justify-center px-3 border-4 border-indigo-200">
                    <div class="product-card rounded-lg shadow-lg border-4 border-indigo-200 bg-white max-w-xs w-64 h-64  overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/chocolate-brownie.jpg" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">Chocolate Brownie</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Candles
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/citrus-seagrass.webp" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">Citrus Seagrass</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Candles
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/coffee-shop.webp" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">coffee-shop</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Candles
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/christmas-wish.jpg" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">christmas-wish</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Soaps
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/black-fig.webp" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">Black Fig</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Incense
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/another-one.png" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">another-one</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Candle
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/citrus-fresh.jpg" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">Citrus Fresh</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Essential Oils
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/cozy-cabin.webp" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">Cozy Cabin</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Candles
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/patchouli-sweetgrass.webp" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">patchouli-sweetgrass</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Incense
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
                <div class="flex justify-center px-3">
                    <div class="rounded-lg shadow-lg bg-white max-w-sm w-64 h-64  max-w-xs overflow-hidden hover:shadow-xl transition-shadow duration-300 ease-in-out">
                      <a href="#!">
                        <img class="rounded-t-lg w-full h-1/2" src="../../assets/images/orange-cassia.jpg" alt=""/>
                      </a>
                      <div class="card-info bg-slate-300 w-full h-1/2">
                        <h5 class="text-gray-900 text-xl font-medium mb-1 font-bold">orange-cassia</h5>
                        <div class="category mb-4 border-black border-4">
                            <p class="text-gray-700 text-base pb-4">
                              Essential oils
                            </p>
                        </div>
                        <p>$7.85</p>
                      </div>
                    </div>
                  </div>
  
              </div>
            </div>
          </div>
        </div>
  
    
</body>
</html>